
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 30px;
    margin: 10px;
    background-color: #E5E4E2;
    color: #52595D;
    font-family: 'Hind', sans-serif;

}

main {
    position: relative;
}

h1 {
    margin: 30px;
    color: #999;
    box-shadow: -8px 8px 8px #bbb, 4px -4px 8px white;
    font-size: 50px;
    font-weight: normal;
}

.contrainer {
    width: 900px;
    height: 900px;
    margin: auto;
    display: grid;
    gap: 15px;
    grid-template:repeat(auto-fit,minmax(250px,288px))/repeat(auto-fit,minmax(250px,288px));
    /*transform:scale(0.8);*/
    
    
    /*border:2px solid black;*/
}

.contrainer>div {
    box-shadow: -8px 8px 8px #bbb, 4px -4px 8px white;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 220px;
    
    /*border:1px solid black;*/
}

.inner_box {
    position: absolute;
    left: 40%;
    
    display: flex;
    flex-direction: column;
}

.messageWinner{
    display:none;
    border:2px dashed #ddd;
    box-shadow: -8px 8px 8px #bbb, 4px -4px 8px white;
}
button {
    padding: 20px;
    border: none;
    box-shadow: -8px 8px 8px #bbb, 4px -4px 8px white;
    border-radius: 10px;
}
main>.win{
    display:block;
    background-color: red;
}
.contrainer>.winCase{
    background-color: green;
}